[gerrit]
	basePath = git
	canonicalWebUrl = <%= node['gerrit']['config']['gerrit']['canonicalWebUrl'] %>
<% if node['gerrit']['config']['gerrit']['canonicalGitUrl'] %>
	canonicalGitUrl = <%= node['gerrit']['config']['gerrit']['canonicalGitUrl'] %>
<% end %>
	reportBugUrl = http://forge.typo3.org/projects/team-git
	serverId = 7798dc65-df04-4128-aaa3-dc27bf14c709
[database]
	type = <%= node['gerrit']['config']['database']['type'].downcase %>
	database = <%= node['gerrit']['config']['database']['database'] %>
	hostname = <%= node['gerrit']['config']['database']['hostname'] %>
	username = <%= node['gerrit']['config']['database']['username'] %>

	; Ensure that new tables are created as InnoDB (MyISAM is default in MySQL 5.1)
	; see https://code.google.com/p/gerrit/issues/detail?id=1273
	; - otherwise we would have trouble with MyISAM + utf8 + long key lengths:
	;;;; running latin1, would end up with nasty "Illegal mix of collations" exteptions
	;;;; see https://groups.google.com/forum/?fromgroups=#!topic/repo-discuss/AOHR0KUHJlE
	;;;; and http://code.google.com/p/gerrit/issues/detail?id=435
;	url = "jdbc:mysql://<%= node['gerrit']['config']['database']['hostname'] %>:3306/<%= node['gerrit']['config']['database']['name'] %>?user=<%= node['gerrit']['config']['database']['username'] %>&password=SECRETFIXME&sessionVariables=storage_engine=InnoDB"
	poolMaxIdle = 8
	poolLimit = 36
[index]
	type = LUCENE
[auth]
	type = <%= node['gerrit']['config']['auth']['type'] %>
<% if node['gerrit']['config']['auth']['type'] == 'LDAP' %>
	gitBasicAuthPolicy = HTTP_LDAP
<% end %>
	; allowing anonymous access to gerrit by explicitly setting the loginUrl
	loginUrl = login/
	cookieSecure = <%= node['gerrit']['config']['auth']['cookieSecure'] %>
	gitBasicAuth = <%= node['gerrit']['config']['auth']['gitBasicAuth'] %>
[sendemail]
	smtpServer = localhost
	from = Gerrit Code Review <gerrit_dontreply@typo3.org>
	includeDiff = true
[container]
	user = gerrit
	javaHome = <%= node['java']['java_home'] %>
[core]
	gitPackedLimit = 1g
	packedGitWindowSize = 16k
	packedGitOpenFiles = 1024
[gc]
	interval = 3 days
	startTime = 3:00
[sshd]
	listenAddress = *:29418
	threads = 12
[cache]
	directory = cache
[cache "web_sessions"]
	maxAge = 1 week
[httpd]
	listenUrl = <%= node['gerrit']['config']['httpd']['listenUrl'] %>
[download]
	scheme = ssh
	scheme = anon_git
	scheme = anon_http
[changeMerge]
	test = true

[commentlink "changeid"]
	match = (I[0-9a-f]{8,40})
	link = "#/q/$1"
[commentlink "forge-tracker"]
	match = " #(\\d+)"
	html = " <a href=\"https://forge.typo3.org/issues/$1\">#$1</a>"

[trackingid "forge-issue"]
	footer = Issue
	match = "#(\\d+)"
	system = Forge
[trackingid "forge-fix"]
	footer = Fixes
	match = "#(\\d+)"
	system = Forge
[trackingid "forge-task"]
	footer = Resolves
	match = "#(\\d+)"
	system = Forge
[trackingid "forge-relation"]
	footer = Related
	match = "#(\\d+)"
	system = Forge
[trackingid "forge-relation-i"]
	footer = Relates
	match = "#(\\d+)"
	system = Forge

[commitmessage]
	maxSubjectLength = 74
	maxLineLength = 74
	rejectTooLong = false

[plugins]
	allowRemoteAdmin = true

[receive]
	enableSignedPush = true
[ldap]
	server = <%= node['gerrit']['config']['ldap']['server'] %>
	username = <%= node['gerrit']['config']['ldap']['username'] %>
	accountBase = ou=people,dc=typo3,dc=org
	accountPattern = (&(objectClass=inetOrgPerson)(uid=${username}))
	accountFullName = cn
	accountEmailAddress = mail
	groupBase = ou=people,dc=typo3,dc=org

[theme]
	topMenuColor = ffffff
	textColor = 000000

	; background of body and tables
	; backgroundColor = 000000

	; background for selected list items / table rows
	selectionColor = ffffcc

	; gray areas and borders of different boxes
	trimColor = aaaaaa

	; even table row numbers
	tableOddRowColor = f6f6f6
